<section>
	
            {% comment %}<!--
            {% if page.previous.url %}
            <li class="previous">
                <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">上一篇：  <span>{{page.previous.title}}</span>
                </a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="next">
                <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">下一篇：  <span>{{page.next.title}}</span>
                </a>
            </li>
            {% endif %}
            -->{% endcomment %}

         {% for post in site.posts %}
            {% if post.lang == page.lang %}
              {% if prev %}
                <li class="previous">
                  <a href="{{ post.url }}" data-toggle="tooltip" data-placement="top" title="{{post.title}}">
                    {{site.data.translations.reward[page.lang].previous}}<span>{{post.title}}</span>
                  </a>
                </li>
              {% endif %}
              {% assign prev = false %}
              {% if post.id == page.id %}
                {% assign prev = true %}
              {% endif %}
            {% endif %}
          {% endfor %}


          {% for post in site.posts reversed %}
            {% if post.lang == page.lang %}
              {% if next %}
                <li class="next">
                <a href="{{ post.url }}" data-toggle="tooltip" data-placement="top" title="{{post.title}}">
                  {{site.data.translations.reward[page.lang].next}}<span>{{post.title}}</span>
                </a>
                </li>
                {% break %}
              {% endif %}
              {% assign next = false %}
              {% if post.id == page.id %}
                {% assign next = true %}
              {% endif %}
            {% endif %}
          {% endfor %}

</section>
